@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: white;
}

body::-webkit-scrollbar-thumb {
	background: rgba(161, 54, 237, 0.404);
	border-radius: 100px;
	border: 1px solid transparent;
	background-clip: content-box;
}
