@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: white;
}

body {
	background-color: rgb(241 245 249);
}

body::-webkit-scrollbar-thumb {
	background: #12141776;
	border-radius: 100px;
	border: 1px solid transparent;
	background-clip: content-box;
}
